# Sampling Distributions

* **Relative Error -** % difference between point estimate and population parameter
* ...

<br>

<br>

### Dataset

* ...

In [1]:
import pandas as pd
import numpy as np

file = 'attrition.feather'
df = pd.read_feather(file)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,21,0.0,Travel_Rarely,391,Research_Development,15,College,Life_Sciences,High,Male,...,Excellent,Very_High,0,0,6,Better,0,0,0,0
1,19,1.0,Travel_Rarely,528,Sales,22,Below_College,Marketing,Very_High,Male,...,Excellent,Very_High,0,0,2,Good,0,0,0,0
2,18,1.0,Travel_Rarely,230,Research_Development,3,Bachelor,Life_Sciences,High,Male,...,Excellent,High,0,0,2,Better,0,0,0,0
3,18,0.0,Travel_Rarely,812,Sales,10,Bachelor,Medical,Very_High,Female,...,Excellent,Low,0,0,2,Better,0,0,0,0
4,18,1.0,Travel_Frequently,1306,Sales,5,Bachelor,Marketing,Medium,Male,...,Excellent,Very_High,0,0,3,Better,0,0,0,0

<br>

<br>

### Relative error

* ...

In [10]:
# srs
df_srs = df.sample(n=100, random_state=1001)

# relative error
pop_param = df.Attrition.mean()
point_est = df_srs.Attrition.mean()
rel_error = abs(pop_param - point_est) / pop_param * 100

# show
print('Population Parameter = ' + str(pop_param))
print('Point Estimate = ' + str(point_est))
print('Relative Error = ' + str(rel_error) + '%')

Population Parameter = 0.16122448979591836
Point Estimate = 0.15
Relative Error = 6.962025316455694%

In [8]:


def srs(df, n):

    # srs
    df_srs = df.sample(n=n, random_state=1002)
    
    # relative error
    pop_param = df.Attrition.mean()
    point_est = df_srs.Attrition.mean()
    rel_error = abs(pop_param - point_est) / pop_param * 100

    return rel_error

# params
file = 'attrition.feather'
df = pd.read_feather(file)
n = 1000

# results
result = srs(df, n)

print(result)

0.7594936708860679

In [11]:
len(df.index)

1470

In [18]:
# init lists
list_sample_size = []
list_rel_error = []

# function
def srs(df, n):

    # srs
    df_srs = df.sample(n=n, random_state=1002)
    
    # relative error
    pop_param = df.Attrition.mean()
    point_est = df_srs.Attrition.mean()
    rel_error = abs(pop_param - point_est) / pop_param * 100

    list_rel_error.append(rel_error)

    #return rel_error

# params
file = 'attrition.feather'
df = pd.read_feather(file)
max_sample = len(df.index)

# run
for n in range(100, 101):
    srs(df, n)

print(list_rel_error)

[36.455696202531655]